body{
    align-content: space-between;
    border-style: solid;
    border-color: black;
    border: 15px;
}

#content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    border: 5px;
    border-style: solid;
    border-color: black;
}

#top-row{
    display: flex;
}

#top-row button{
    flex-grow: 1;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1;
    border-color: black;
    border: 5px;
    border-style: solid;
}

#numbers button{
    flex-grow: 1;
}